*.h-t
*.lev
*.o
/Makefile
/dat/Makefile
/dat/options
/doc/Makefile
/include/date.h
/include/onames.h
/include/pm.h
/include/vis_tab.h
/src/Makefile
/src/Sysunix
/src/monstr.c
/src/nethack
/src/tile.c
/src/vis_tab.c
/tags
/util/Makefile
/util/makedefs
/util/tilemap
